<template>
  <transition name="to-top-fade">
    <div 
    class="to-top"
    v-show="visible" 
    v-bind:class="color" 
    @click="backToTop">
  </div>
</transition>
</template>

<script>
  const DEFAULT_OFFSET = 500;
  const DEFAULT_ANIMATION_SPEED = 800;

  export default {
    name: 'to-top',
    props: {
      visibleOffset: {
        default: DEFAULT_OFFSET
      },
      animationSpeed: {
        type: Number,
        default: DEFAULT_ANIMATION_SPEED
      }
    },
    data() {
      return {
        visible: false,
        color: 'dark',
        lightSectionsOffsets: [],
        darkSectionsOffsets: []
      }
    },
    mounted() {
      // Execute once to get page sections offset coordinates
      this.getPageSectionsOffsets();

      // Bind setElementVisibility function to scroll
      window.addEventListener('scroll', this.setElementVisibility);

      // Bind setElementColor function to scroll
      window.addEventListener('scroll', this.setElementColor);
    },
    destroyed() {
      // Unbind function
      window.removeEventListener('scroll', this.setElementVisibility);

      // Unbind function
      window.removeEventListener('scroll', this.setElementColor);      
    },
    methods: {
      backToTop() {
        var scrollDuration = DEFAULT_ANIMATION_SPEED;

        if (Number.isInteger(parseInt(this.animationSpeed)))
          scrollDuration = parseInt(this.animationSpeed);

        // Vanilla JS smooth scroll to top function
        // Source: https://stackoverflow.com/questions/21474678/scrolltop-animation-without-jquery        
        var cosParameter = window.scrollY / 2,
        scrollCount = 0,
        oldTimestamp = performance.now();

        function step(newTimestamp) {
          scrollCount += Math.PI / (scrollDuration / (newTimestamp - oldTimestamp));
          if (scrollCount >= Math.PI) window.scrollTo(0, 0);
          if (window.scrollY === 0) return;
          window.scrollTo(0, Math.round(cosParameter + cosParameter * Math.cos(scrollCount)));
          oldTimestamp = newTimestamp;
          window.requestAnimationFrame(step);
        }
        window.requestAnimationFrame(step);
      },
      setElementVisibility() {
        var offset = DEFAULT_OFFSET;

        // If visibleOffset is text, get element's offset
        if (!Number.isInteger(parseInt(this.visibleOffset))) {
          var offset_element = document.querySelector(this.visibleOffset);

          if (offset_element)
            offset = this.getElementOffsets(offset_element).top;
        }
        // If visibleOffset is a number, use it
        else {
          offset = parseInt(this.visibleOffset);
        }

        this.visible = window.scrollY > offset;
      },
      setElementColor() {
        var toTopButton = document.querySelector('.to-top');
        var bottomOfButton = this.getElementOffsets(toTopButton).bottom;

        for (var lightSection of this.lightSectionsOffsets) {
          // Check whether button is contained within a light section
          if (bottomOfButton > lightSection.top && bottomOfButton < lightSection.bottom) {
            this.color = 'dark';
          }
        }

        for (var darkSection of this.darkSectionsOffsets) {
          // Check whether button is contained within a dark section
          if (bottomOfButton > darkSection.top && bottomOfButton < darkSection.bottom) {
            this.color = 'light';
          }
        }
      },
      getElementOffsets(el) {
        // Determine an element's top and bottom offsets on the document
        var rect = el.getBoundingClientRect(),
        scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        return {
          top: rect.top + scrollTop,
          bottom: rect.top + scrollTop + rect.height
        };
      },
      getPageSectionsOffsets() {
        // Determine light and dark page sections' top and bottom offsets
        var lightSections = document.querySelectorAll('section.light');
        var darkSections = document.querySelectorAll('section.dark, .global-footer');

        var lightSectionsOffsets = [];
        for(let section of lightSections) {
          let offsets = this.getElementOffsets(section);
          let topOfSection = offsets.top;
          let bottomOfSection = offsets.bottom

          lightSectionsOffsets.push({
            top: topOfSection,
            bottom: bottomOfSection
          });
        }

        var darkSectionsOffsets = [];
        for(let section of darkSections) {
          let offsets = this.getElementOffsets(section);
          let topOfSection = offsets.top;
          let bottomOfSection = offsets.bottom

          darkSectionsOffsets.push({
            top: topOfSection,
            bottom: bottomOfSection
          });
        }

        this.lightSectionsOffsets = lightSectionsOffsets;
        this.darkSectionsOffsets = darkSectionsOffsets;
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .to-top {
    height: 50px;
    width: 50px;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;

    transition: background 0.3s ease;
  }

  .to-top.dark {
    background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMAAggJCgsMDR84OVBRUlRZaG+bqMXV2t7g4uTmUGiKOwAAAHVJREFUKFPdzkcOgDAMRNGh994h9z8nASuIEJM9/JWlNwsDP6nybNqI0eKNEBY/9N1J31wp76T1xDtpBp91pYA/m06an3dg+F2lL7qTFtda96fqbioQrsrzU0vokQ8OVk6Vx+hYBaJNQgS37VNG5X9tn7DwjXZusRHvaThG4AAAAABJRU5ErkJggg==);
    /* Icon generated from Fa2png */
  }

  .to-top.light {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAV1BMVEUAAAAiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiJ0qFp1AAAAHHRSTlMAAggJCgsMDR84OVBRUlRZaG+bqMXV2t7g4uTmUGiKOwAAAHVJREFUKFPdzkcOgDAMRNGh994h9z8nASuIEJM9/JWlNwsDP6nybNqI0eKNEBY/9N1J31wp76T1xDtpBp91pYA/m06an3dg+F2lL7qTFtda96fqbioQrsrzU0vokQ8OVk6Vx+hYBaJNQgS37VNG5X9tn7DwjXZusRHvaThG4AAAAABJRU5ErkJggg==);
    /* Icon generated from Fa2png */
  }

  .to-top-fade-enter-active, 
  .to-top-fade-leave-active {
    transition: opacity .2s ease-out;
  }
  .to-top-fade-enter, 
  .to-top-fade-leave-to {
    opacity: 0;
  }
</style>