<template>
  <div id="app">
    <section id="one" class="light">
      <p>Light section</p>
    </section>

    <section id="two" class="dark">
      <p>Dark section</p>
    </section>

    <section id="three" class="light">
      <p>Light section</p>
    </section>

    <section id="four" class="dark">
      <p>Dark section</p>
    </section>

    <section id="five" class="light">
      <p>Light section</p>
    </section>

    <footer class="global-footer">
      <p>Footer</p>
    </footer>

    <to-top />
  </div>
</template>

<script>
  import toTop from './components/toTop.vue'

  export default {
    name: 'app',
    components: {
      toTop
    }
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  #app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
  }

  section {
    height: 500px;
  }

  section.dark {
    background: #222;
    color: #fff;
  }

  footer {
    background: #555;
    height: 250px;
    color: #fff;
  }

  section,
  footer {
    box-sizing: border-box;
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
</style>
